.navbar{
  display: flex;
  justify-content: space-around;
  padding: 5px;
  box-shadow: 0 1px 3px -2PX black;
}
.nav-logo{
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-logo p{
  color: rgb(230, 36, 146);
  font-size: 30px;
  font-weight: 500;
}
.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: rgb(235, 16, 177);
  font-size: 15px;
  font-weight: 500;
}
.nav-menu li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;

}
.nav-menu hr{
  border: none;
  width: 70%;
  height: 3px;
  border-radius: 10px;
  background: #ec1fff;
}
.nav-login-cart{
  display: flex;
  align-items: center;
  gap: 40px;

}
.nav-login-cart button{
  width: 120px;
  height: 48px;
  outline: none;
  border: 1PX solid #f45e5e ;
  border-radius: 75px ;
  color: #f974e3;
  font-size: 20Px;
  font-weight:400 ;
  background: white;
  cursor: pointer;
}
.nav-login-cart button:active{
  background: #ea2626;
}
.nav-cart-count{
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px ;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}