.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 50px 0;
}

.popular h1 {
  color: #dd4563;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

.popular hr {
  width: 200px;
  height: 3px;
  border-radius: 10px;
  background: #ee1eaf;
}

.popular-item {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 10fr);
  gap: px;
}
.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item img {
  width: 80%;
  height: 250px;
  object-fit: cover;
}

.item p {
  color: #454545;
  font-size: 15px;
  font-weight: 200;
  text-align: center;
  line-height: 1.4;
}

.item-prices {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.item-price-new {
  color: #374151;
  font-size: 18px;
  font-weight: 600;
}

.item-price-old {
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}
